.myDashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.myDarkDashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.MiddleBody {
  display: flex;
  flex-grow: 1;
}
